div(ng-if="vm.content.model.content" class="menu" )
	div(ng-repeat="item in vm.content.model.content" class="card contentCard")
		img(ng-src="{{ item.cover }}")
		div(class="card-section card")
			div(class="card-divider")
				h2
					a(class="contentTitle" href="{{ item.path }}") {{ item.title }}
			div(class="contentText")
				p {{ item.content }}			
		div(class="card-divider grid-x")
			div(class="small-8 cell authorship")
				ul(class="menu")
					li(class="avatar")
						a(href="{{ item.path }}"): img(ng-src="{{ item.user.avatar }}")
					li(class="avatar-text")
						ul(class="menu vertical")
							li
								a(class="" href="{{ item.user.profile }}") {{ item.user.fullname }}
							li
								a(class="" href="{{ item.path }}") {{ item.createdAt | date:"dd-MM, yyyy"}}
			div(class="small-4 cell")
				ul(class="menu float-right settingList")
					li
						a(class="iconComponent")
							i(class="material-icons") bookmark_border
					li
						a(class="iconComponent")
							i(class="material-icons") keyboard_arrow_down