doctype html
html(ng-app='App')
	head
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		base(href="/")
		title="Some title"
		link(rel="stylesheet", href="/vendor/css/foundation.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="/css/utility.css")

	body(ng-controller="LayoutCtrl")
		// Side menu									
		div(class="off-canvas position-right" id="sideBarMenu" data-off-canvas)
			// Profile
			div(class="card profileBox")
				div(class="card-section")
					img(src="http://via.placeholder.com/50x50")
				div(class="card-section")
					a(href="{{ vm.user.model.profile }}" class="titleText") {{ vm.user.model.fullname }}
			// Activities menu
			div(id="actionMenu")
				ul(class="menu vertical itemList")
					li(ng-repeat="item in vm.actionMenu.model.menu.mobile.management")
						a(ng-if="item.link"  href="{{ item.link }}" class="{{vm.actionMenu.model.menu.mobile.mngtFocus.indexOf (item.name) != -1 ? 'mngtFocus' : '' }}") {{ item.name }}	
				ul(class="menu vertical businessMenu itemList")
					li(ng-repeat="item in vm.actionMenu.model.menu.mobile.business")
						a(ng-if="item.link" href="{{ item.link }}" class="{{vm.actionMenu.model.menu.mobile.bizFocus.indexOf (item.name) != -1 ? 'bizFocus' : '' }}") {{ item.name }}
				ul(class="menu vertical itemList")
					li(ng-repeat="item in vm.actionMenu.model.menu.mobile.social")
						a(ng-if="item.link"  href="{{ item.link }}") {{ item.name }}

		// Desktop top bar 
		//nav(class="show-for-large top-bar paddingLR0" id="topNavBar")
			div(class="medium-2 columns")
				a(href="#!/" class="paddingLR0")
					<span class="show-for-large title"> {{ "LOGO" }}						
			div(class="medium-10 columns")
				ul(class="menu float-left")
					li(class="menu-text") {{ "DEPARTMENT" }}
				ul(class="menu dropdown float-right paddingLR15" data-dropdown-menu)
					li: a(class="button" href="#!/login" ng-show="layout.model.dom.loginBtn") Login
					li(ng-show="layout.model.dom.notiBtn")
						a(ng-style='layout.style' class="dropDownNoIcon paddingLR0"): i(class="material-icons") notifications
						ul(class="menu noti" )
							li(ng-repeat="noti in ['Noti 1', 'Noti 2']")
								p {{noti}}
					li(ng-show="true" class="paddingT0")
						a(class="dropDownNoIcon paddingAll0" ng-click=''): i(class="material-icons paddingT5") account_circle
						ul(class="menu")
							li: a Profile
							li: a Setting
							li(ng-click=''): a Logout

		// Mobile top bar					
		div(class="top-bar hide-for-large" id="mobileTopBar" ng-if="vm.dom.model.mobileNavMenu.display")
			ul(class="menu float-left")
				li(ng-if="vm.dom.model.mobileNavMenu.logo.display")
					a(href="" class="title-bar-title title paddingAll07rem") JOBS
				li(ng-if="vm.dom.model.backbtn.display")
					a(class="iconComponent"): i(class="material-icons" ng-click="vm.backbtn.back ()") arrow_back
			ul(class="menu float-right")
				li(ng-if="vm.dom.model.mobileNavMenu.noti.display")
					a(class="dropDownNoIcon paddingAll07rem iconComponent" ng-click='')
						i(class="material-icons") notifications
				li(ng-if="vm.dom.model.mobileNavMenu.search.display")
					a(class="dropDownNoIcon paddingAll07rem iconComponent" ng-click='' href="/#!/search")
						i(class="material-icons") search
				li(ng-if="vm.dom.model.mobileNavMenu.sidemenu.display")
					a(class="dropDownNoIcon paddingAll07rem iconComponent" data-toggle="sideBarMenu")
						i(class="material-icons") reorder
				li(ng-if="vm.dom.model.publishbtn.display")
					a(class="dropDownNoIcon paddingAll07rem iconComponent")
						i(class="material-icons") send				

		div(class="grid-container fluid" id="mainContentContainer")
			ng-view

		script(type="text/javascript" src="/vendor/js/angular.min.js")
		script(type="text/javascript" src='/vendor/js/angular-route.min.js')
		script(type="text/javascript" src="/vendor/js/jquery-2.1.0.min.js")
		script(type="text/javascript" src="/vendor/js/what-input.js")
		script(type="text/javascript" src="/vendor/js/foundation.min.js")
		script(type="text/javascript" src="/app.js")
		// Services
		script(type="text/javascript" src="/services/authentication.service.js")
		script(type="text/javascript" src="/services/utility.service.js")
		// Controllers		
		script(type="text/javascript" src="/controllers/layout.ctrl.js")
		script(type="text/javascript" src="/controllers/home.ctrl.js")
		script(type="text/javascript" src="/controllers/login.ctrl.js")
		script(type="text/javascript" src="/controllers/register.ctrl.js")
		script(type="text/javascript" src="/controllers/publish.ctrl.js")
		script(type="text/javascript" src="/controllers/profile.ctrl.js")
		script(type="text/javascript" src="/controllers/content.ctrl.js")
		script(type="text/javascript" src="/controllers/search.ctrl.js")
		// DEVELOPMENT PHASE ONLY!
		script(type="text/javascript" src="/services/testdata.service.js")